$color1: #FFF3E2;
$color2: #E1F4F3;
$color3: #323256;
$color4: #7C49E9;
$color5: #4A47A3;
$color6: #3B1CFF;
$color7: #333333;
$color8: #666666;
$color9: #222222;
$color10: #FFFFFF;
$color11: #3283E2;
$color12: #FFD369;
$color13: #A4A4A4;
$color14: rgba($color10, .2);
$color15: #1C1C30;
$color16: #9C864B;
$color17: #3190FF;
$color18: rgba($color17, .25);
$color19: #413C69;
$color20: #000000;
$color21: rgba($color20, .2);
$color22: #547F8E;
$color23: #709FB0;
$color24: #444444;
$color25: #999999;
$color26: #CFCFCF;
$color27: #555555;
$color28: #A7C5EB;
$color29: #ECECEC;
$color30: #E2E2E2;
$color31: #777777;
$color32: #EA1601;

$family1: "Montserrat-Regular";
$family2: "Montserrat-Bold";
$family3: "Montserrat-Light";
$family4: "Montserrat-LightItalic";
$family5: "Montserrat-SemiBold";
$family6: "Montserrat-Medium";

$family2-1: "Roboto-Regular";
$family2-2: "Roboto-Bold";
$family2-3: "Roboto-Light";
$family2-4: "Roboto-Medium";

$family3-1: "RobotoSlab-Regular";
$family3-2: "RobotoSlab-Medium";
$family3-3: "RobotoSlab-Bold";

$family4-1: "SourceSansPro-Regular";
$family4-2: "SourceSansPro-Light";
$family4-3: "SourceSansPro-Semibold";

$family5-1: "Sansation-Regular";
$family5-2: "Sansation-Bold";
$family5-3: "Sansation-Light";